{% extends "layouts/main.html" %}

{% block pageTitle %}
Building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Building assessment certificate for Chester House</h1>

      <p>Your deadline to apply for a building assessment certificate has passed.</p>

      <p>Greenways Limited should have applied by 28 April 2024.</p>

      <p>Greenways Limited failed to comply with this duty which is an offence. The Building Safety Regulator may take enforcement action against them.</p>

      <p>Your case officer will be in touch soon.</p>

      <h2 class="govuk-heading-m">Apply now</h2>

      <p>You must still <a href="confirm-building">apply for a building assessment certificate</a>.</p>

    </div>
  </div>

{% endblock %}
