{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l" style="text-align: center; margin-top: 10%;">
    Building assessment certificate
  </h1>

  <p class="govuk-body-l" style="text-align: center;">
    <strong>Chester House</strong>
    <br>12 Example Street
    <br>Leeds
    <br>LE2 4IJ
  </p>

  <p style="text-align: center;">HRB123456789</p>

  <p style="text-align: center;">
    Greenways Limited
    <br>Rune Ltd
  </p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p style="text-align: center;">10 June 2024</p>

  <p style="text-align: center;">Signed:</p>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <p style="text-align: center;">This certificate is issued under section 81(3)(a) of the Building Safety Act 2022. At the time of issuing the certificate, the regulator, was satisfied from the information provided in the BAC Application that all relevant duties were being complied with.</p>

  <p style="text-align: center;">This certificate is valid until the PAP of the HRB is redirected by the Regulator to submit a new BAC Application</p>

  <div style="display: flex; width: 100%; flex-direction: row; justify-content: center;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b6/Health_and_Safety_Executive_logo.svg/1200px-Health_and_Safety_Executive_logo.svg.png" style="height: 200px; align-self: center;">
  </div>

  

{% endblock %}
