{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> noreplyBSR@hse.gov.uk
  <br><strong>To:</strong> Charlotte Smith
  <br><strong>Subject:</strong> We need information about your application BAC123456789
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p>Dear Charlotte Smith,</p>

<p>You recently applied for a building assessment certificate for Chester House.
</p>

<h2 class="govuk-heading-m">We need more information</h2>

<p>You must give us the following:</p>

<p>The safety case report you've provided does not include a site plan or floor plans. Please add these in and reupload your safety case report.

<p>You must submit the additional information online at: <a href="more-information">www.register-high-rise-building.service-submit-information-6789.gov.uk</a>.</p>

<p>You have 7 days to submit this information. If you do not, we will not be able to adequately assess your application and may consider rejecting it and taking enforcement action.</p>

<p>From the Health and Safety Executive</p>

<p>As the Building Safety Regulator</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It’s an automatic message from an unmonitored account.</p>

</div>
</div>

{% endblock %}
