{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> noreplyBSR@hse.gov.uk
  <br><strong>To:</strong> PAP/PAP named contact & users
  <br><strong>Subject:</strong> Deadline approaching to apply for a building assessment certificate
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p>[Greenways Limited/Andy Smith] has 6 days left to apply for a building assessment certificate for Chester House.</p>

<p>[Greenways Limited/Andy Smith] must submit an application online at: <a href="start">www.gov.uk/guidance/apply-for-building-assessment-certification</a>.</p>

<p>Find out what must be included in the application at: <a href="#">www.gov.uk/guidance/applying-for-building-assessment-certification</a>.</p>

<h2 class="govuk-heading-m">If they do not apply for a building assessment certificate</h2>

<p>Failure to submit an application within 6 days of this notice is an offence under Part 4 of the Building Safety Act 2022.</p>

<p>If [Greenways Limited/Andy Smith] does not apply by the deadline, the Building Safety Regulator may take enforcement action. Find out more about BSR’s approach to enforcement: <a href="#">[link]</a>.</p>

<p>From the Health and Safety Executive</p>

<p>As the Building Safety Regulator</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It’s an automatic message from an unmonitored account.</p>

</div>
</div>

{% endblock %}
