{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Tell us about enforcement action</h1>

      <p>You do not have to tell us but we will contact the relevant authorities to find this information out. Telling us now may reduce the time it takes to review your application.</p>

      <form class="form" action="/enforcement-action-answer" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "enforcement-action",
          fieldset: {
            legend: {
              text: "What enforcement action has been served in relation to Chester House?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "LAP",
              text: "Local Authority Planning department – Town and Country Planning Act 1990"
            },
            {
              value: "LABC",
              text: "Local Authority Building Control – Building Act 1984"
            },
            {
              value: "LAH",
              text: "Local Authority Housing Act 2004 or associated Regulations"
            },
            {
              value: "FRA",
              text: "Fire and Rescue Authority – the Regulatory Reform (Fire Safety) Order 2005"
            },
            {
              divider: "or"
            },
            {
              value: "No",
              text: "No enforcement action has been served in relation to Chester House",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
