{% extends "layouts/main.html" %}

{% block pageTitle %}
Apply for a building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="access-an-application" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "is-there-a-hrb-reference",
          fieldset: {
            legend: {
              text: "Does the building have a registration application reference?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, ‘HRB123456789’"
          },
          items: [
            {
              value: "Yes - and I know it",
              text: "Yes - and I know it"
            },
            {
              value: "Yes - but I do not know it",
              text: "Yes - but I do not know it"
            },
            {
              value: "No - I need to start a new registration application",
              text: "No - I need to start a new registration application"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
