{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter security code – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter security code</h1>

      <p>We have sent a 6-digit security code to: <strong>{{ data['email'] }}</strong>.</p>

      <p>If you cannot find the email, please check your junk or spam folders.</p>

      <p>If you still cannot find it, or it has timed out <a href="generate-new-security-code">generate a new security code</a>.</p>

      <form class="form" action="building-holding-page-Returning" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Security code",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, '123456'."
          },
          id: "security-code",
          name: "security-code",
          classes: "govuk-input--width-10"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
