{% extends "layouts/main.html" %}

{% block pageTitle %}
Apply for a building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload documents for Chester House</h1>

      <p>You must upload:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a safety case report</li>
        <li>a mandatory occurrence reporting plan</li>
        <li>a resident engagement strategy</li>
      </ul>

      <form class="form" action="/single-or-multiple-files-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "single-or-multiple-files",
          fieldset: {
            legend: {
              text: "How do you want to supply them?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "multiple",
              text: "Each as a different file"
            },
            {
              value: "two",
              text: "Include the mandatory occrruence report in the safety case report"
            },
            {
              value: "single",
              text: "All in one file"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
