{% extends "layouts/main.html" %}

{% block pageTitle %}
Register and manage applications for high-rise residential buildings – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Housing, local and community",
        href: "#"
      },
      {
        text: "Planning and building",
        href: "#"
      },
      {
        text: "Building regulation",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register and manage applications for high-rise residential buildings
      </h1>

      <p>If your organisation is the principal accountable person for a building, or the principal accountable person has authorised you to act for them, you can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply to register the building</li>
        <li>provide structure and fire safety information</li>
        <li>apply for a building assessment certificate</li>
      </ul>
      
      <p>You can also use this service to tell the Building Safety Regulator:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>about changes to the regsitration or structure and safety information</li>
        <li>when you have a safety case report</li>
        <li>when you update your safety case report</li>
      </ul>

      <div class="govuk-inset-text">
        <p>The <a href="#">principal accountable person</a> is the organisation that owns or is accountable for the building’s safety.</p>
        <p>In limited circumstances, an individual can be the principal accountable person.</p>
        <p>If the building has more than one accountable person, the principal accountable person is the one who is accountable for the external walls and structure of the building.</p>
      </div>

      <p>You can save your application and return to it at any time.</p>

      {{ govukButton({
        text: "Start now",
        href: "reference",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        If you need help using this service <a href="https://www.gov.uk/guidance/contact-the-building-safety-regulator">contact us</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Applying for a building assessment certificate
              </a>
            </li>
            <li>
              <a href="#">
                Safety case reports
              </a>
            </li>
            <li>
              <a href="#">
                Mandatory occrruence reporting
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Related guidance</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
