{% extends "layouts/main.html" %}

{% block pageTitle %}
Building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Building assessment certificate for Chester House</h1>

      <p>We have reached a decision on your application for a building assessment certificate for Chester House.</p>

      <h2 class="govuk-heading-m">
        What's next
      </h2>

      <p>You must pay all the outstanding invoices for your application before you can view your decision.</p>

      <p>Once you have paid, you will be able to view the decision here.<p>

      <p><a href="#">Return to point house</a></p>

    </div>
  </div>

  <div style="background-color:rgb(55, 55, 89); border: 1px; width: 300px; padding: 20px; margin-bottom: 20px; margin-left: -20px;">
    <a style="color: white;" href="bac-holding-page-PostPay">Pay invoices</a>
  </div>

{% endblock %}
