{% extends "layouts/main.html" %}

{% block pageTitle %}
Apply for a building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload documents for Chester House</h1>

      <p>You must upload:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>safety case report</li>
        <li>mandatory occurrence reporting system</li>
        <li>resident engagement strategy</li>
      </ul>

      <p>You can upload PDF, Word documents and images. Each file must be smaller than 3GB.</p>

      <form class="form" action="/single-or-multiple-files-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "single-or-multiple-files",
          fieldset: {
            legend: {
              text: "How do you want to supply them?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "multiple",
              text: "Each as different files"
            },
            {
              value: "mor-in-scr",
              text: "Include the mandatory occurrence reporting system in the safety case report"
            },
            {
              value: "res-in-scr",
              text: "Include the resident engagement strategy in the safety case report"
            },
            {
              value: "single",
              text: "All in one file"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
