{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<p><strong>Letter head</strong></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>For the attention of []</p>
<p>Address: []</p>
<p>Date: []</p>
<p>Application reference: [HRB123456789]</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p><strong>Building Safety Act 2022</strong></p>

      <p><strong>Section 79 direction to apply for a building assessment certificate for [building name]</strong></p>

      <p>Dear [PAP individual name/PAP organisation name],</p>

      <p>As the principal accountable person for Chester House, you are now being directed under section 79(1) of the Building Safety Act 2022 to apply for your building assessment certificate (BAC) by the Building Safety Regulator (BSR). You must apply within 28 days of this direction.</p>

      <p>You must submit your application online at: <a href="start">www.gov.uk/guidance/apply-for-a-building-assessment-certificate</a>.</p>

      <p>The application reference for [Chester House] is [HRB123456789]. You will need this to submit your application.</p>

      <p>We have sent an email to [PAP individual email/PAP named contact email] with guidance on how to apply.</p>

      <p>Failure to submit your BAC application within 28 days of being directed to apply is a criminal offence, under section 79(3) of the Building Safety Act 2022. BSR may consider taking enforcement action against you. Any enforcement action will be considered in line with our enforcement policy statement, which you can find online.</p>

      <p>You will need to pay the application charge of £288 (including VAT). You can pay this by card or where needed by invoice.</p>

      <p>The assessment of your application will also incur further ongoing charges. You will need to provide details so we can send you invoices for the work undertaken to assess your application. If you need to include a purchase order number on the invoices, you will need to provide it in your application.</p>

      <p>Find out more about the charges which apply in the Building Safety Regulator charging scheme, which you can find online.</p>

      <p>If you are not the principal accountable person for [Chester House], contact BSR.</p>

      <p>Yours faithfully,</p>

      <p>[signature]</p>

      <p>Tanya Stewart</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>

{% endblock %}
