{% extends "layouts/main.html" %}

{% block pageTitle %}
  Declaration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirm the relevant people are being provided with information
      </h1>

      <p>As the Principal Accountable Person (PAP) for Chester House you are also an Accountable Person (AP) and you are required to give information to:</p>

      <uL class="govuk-list govuk-list--bullet">
        <li>the Building Safety Regulator</li>
        <li>any other accountable persons for the building</li>
        <li>residents of the building</li>
        <li>owners of the residential units in the building</li>
        <li>any other persons including a Relevant Landlord, Client, Relevant Responsible Person, Fire & Rescue Authority, On change of Accountable Person, Resident engagement: requests for further information</li>
      </uL>

      <p>You can find out <a href="#">what information APs need to give</a> to the persons listed above (relevant persons).</p>

      <p>Every AP for Chester House has the same duty to give the required information to the persons listed above.</p>

      <p>As part of your Building Assessment Certificate (BAC) application for Chester House, you have a responsibility as the PAP to confirm that all APs for Chester House have met these duties. You will need to liaise with all APs to ensure that they are aware of what they need to do and have complied.</p>

      <p>As the PAP you are required as part of the BAC application to make a statement confirming that you and any other AP(s) for Chester House are giving the required information to all relevant persons.</p>

      <p>As the Principal Accountable Person for:</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Building Registration Number</th>
            <td class="govuk-table__cell">HRB123456789</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Building Name and Address</th>
            <td class="govuk-table__cell">Chester House
              <br>
              <br>East Tower
              <br>11 Example Street
              <br>Leeds
              <br>LE3 5GH
              <br>
              <br>West Tower
              <br>12 Example Street
              <br>Leeds
              <br>LE3 5GI</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Principal Accountable Person</th>
            <td class="govuk-table__cell">Greenways Limited</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other Accountable Persons</th>
            <td class="govuk-table__cell">Rune Ltd<br>John Smith</td>
          </tr>
        </tbody>
      </table>

      <p>I confirm that each Accountable Person (AP) has complied with their obligations to provide the information listed in the Higher-Risk Buildings (Keeping and Provision of Information etc.) (England) Regulations 2023 to the persons listed above in accordance with S89 of the Building Safety Act  2022</p>

      <p>I also confirm that I understand my obligation to notify the Building Safety Regulator of any change to Key Building Information within 28 days of my becoming aware of the change, in accordance with Regulation 21 of the Higher-Risk Buildings (Key Building Information etc) (England) Regulations 2023.</p>

      <p>
        By clicking “agree and continue” I confirm that, as the PAP for Chester House, the above statements are correct.
      </p>

      <form class="form" action="upload-all" method="post">

        <button class="govuk-button" data-module="govuk-button">Agree and continue</button>
      </form>

    </div>
  </div>

{% endblock %}
