{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> noreplyBSR@hse.gov.uk
  <br><strong>To:</strong> PAP/PAP named contact
  <br><strong>Cc:</strong> Primary user & secondary user
  <br><strong>Subject:</strong> Reminder - Deadline approaching to apply for a building assessment certificate for [Chester House]
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p>As the Principal Accountable Person (PAP) for Chester House, you have 6 days left to apply for your Building Assessment Certificate (BAC) by the Building Safety Regulator (BSR).</p>

<p>You must submit your application online at: <a href="start">www.gov.uk/guidance/apply-for-building-assessment-certification</a>.</p>

<p>Find out what must be included in your application at: <a href="#">www.gov.uk/guidance/applying-for-building-assessment-certification</a>.</p>

<h2 class="govuk-heading-m">If they do not apply for a Building Assessment Certificate</h2>

<p>Failure to submit your BAC application within 28 days of being directed to apply is a criminal offence, under Section 79(3) of the Building Safety Act 2022.</p>

<p>The BSR may consider taking enforcement action against you. Any enforcement action will be considered in line with our Enforcement Policy Statement: <a href="#">URL</a>.</p>

<p>Should you be faced with circumstances that mean you are unable to fulfil your statutory duty within the required 28 days then contact the BSR to request an extension prior to the expiry of the 28 days. Please note the BSR will only consider granting an extension in exceptional circumstances and evidence in support of this may be requested. Should the extension request be refused you will be required to submit your BAC application within the original 28-day period.</p>

<h3 class="govuk-heading-s">You will need to pay</h3>

<p>You will be asked to pay an application charge of £288 when you make your application, this can be paid by card or invoice.</p>

<p>The assessment of your BAC Application will incur further charges, find out more about these charges online at: <a href="#">URL</a>.</p>

<h2 class="govuk-heading-m">If you do not think you should have recieved this email</h2>

<p>If you are not the Principal Accountable Person for Chester House, please contact BSR at: <a href="#">www.contact-building-safety-regulator.service.gov.uk</a>.</p>

<p>From the Health and Safety Executive</p>

<p>As the Building Safety Regulator</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It’s an automatic message from an unmonitored account.</p>

</div>
</div>

{% endblock %}
