{% extends "layouts/main.html" %}
{% set title = "Upload documents for [Chester House]" %}
{% set serviceName = "Apply for a building assessment certificate" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .govuk-summary-list__key {
    width:60%
  }
</style>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="" method="post">

    <p>
      You must upload your:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>safety case report</li>
      <li>mandatory occurrence reporting system</li>
      <li>resident engagement strategy</li>
    </ul>

    <div class="govuk-inset-text">
      Make sure the documents are identifiable by the file name. If you upload a file containing more than one document, the file name must reference all the documents included.
    </div>

    <p>You can upload multiple files in PDF, Word or image format. Each file must be smaller than 3GB.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with these documents
        </span>
      </summary>
      <div class="govuk-details__text">
        <p><strong>Safety case report</strong></p>
        <p>This must only include relevant evidence that directly demonstrates that you are managing the building safety risks. If we find we need more information when we review your application, we will contact you.</p>
        <p><strong>Mandatory occurrence reporting system</strong></p>
        <p>This is an outline of how safety related occurrences are reported, documented and managed.</p>
      </div>
    </details>

    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "fileUpload1",
  label: {
    text: "Upload files"
  }
}) }}

    </dl>

      
    
        {{ govukButton({
          text: "Continue",
          href: "invoice"
        }) }}

      </form>
  </div>
</div>




{% endblock %}

{% block pageScripts %}

<script>
document.getElementById("upload-button").addEventListener("click", fileUpload);
document.getElementById("upload-more").addEventListener("click", showUploadButton);
document.getElementById("upload-button").addEventListener("change", fileSelected);

const fileRows = document.getElementById("file-row-container");
const uploadUpdate = document.getElementById("upload-update");

const myTimeout = setInterval(checkUploads, 1000);

function checkUploads() {
  console.log("checking uploads")
  // check all the uploaded and review if any of them need updating
  var filesUploading = document.getElementsByClassName('govuk-tag--yellow')

  if (filesUploading.length > 0) {
    for (i = 0; i < filesUploading.length; i++) {
      console.log(filesUploading[i])
      // do a random check and see if the file is uploaded
      if (Math.floor(Math.random() * 3) == 2) {
        // change the label
        filesUploading[i].innerHTML = 'uploaded'
        filesUploading[i].classList.add('govuk-tag--green')
        filesUploading[i].classList.remove('govuk-tag--yellow')
      }
    }
  }

  filesUploading = document.getElementsByClassName('govuk-tag--yellow').length
  filesUploaded =document.getElementsByClassName('govuk-tag--green').length

  uploadUpdate.textContent = `${filesUploaded} of ${filesUploading + filesUploaded} files uploaded`;
  if (filesUploaded > 0 || filesUploading > 0) {
    uploadUpdate.classList.remove("govuk-!-display-none");
  }
  
}



function fileUpload() {
  //console.log("upload clicked")
}

function showUploadButton(e) {
  // remove the upload button and replace with an upload more button
    e.preventDefault()
    document.getElementById("upload-button").value = "";
    document.getElementById("upload-wrapper").style.display = "block";
    document.getElementById("upload-more").style.display = "none";
}

function fileSelected(e) {

  for (i = 0; i < e.target.files.length; i++) {
    
    const markup = `
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">${e.target.files[i].name}</a>
         <input type="hidden" id="filesUploaded" name="filesUploaded" value="${e.target.files[i].name}">
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--yellow">uploading</strong>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Remove<span class="govuk-visually-hidden"> ${e.target.files[i].name}</span>
        </a>
      </dd>
    `;

    // remove the upload button and replace with an upload more button
    document.getElementById("upload-wrapper").style.display = "none";
    document.getElementById("upload-more").style.display = "block";  
    
    let row = document.createElement('div');
    row.classList.add("govuk-summary-list__row")
    row.innerHTML = markup
    fileRows.append(row)

    filesUploading = document.getElementsByClassName('govuk-tag--yellow').length
    filesUploaded =document.getElementsByClassName('govuk-tag--green').length

    uploadUpdate.textContent = `${filesUploaded} of ${filesUploading} files uploaded`;
    uploadUpdate.classList.remove("govuk-!-display-none");

  }

}
</script>

{% endblock %}
