{% extends "layouts/main.html" %}

{% block pageTitle %}
Which application(s) did you include the same documents in and are there any differences? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="invoice" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "moreDetail",
          id: "more-detail",
          label: {
            text: "Which application(s) did you include the same documents in and are there any differences?",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
