{% extends "layouts/main.html" %}

{% block pageTitle %}
  Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">HRB123456789</span>

      <h1 class="govuk-heading-l">Chester House</h1>

      <a class="govuk-heading-m" href="#">
        Information about Chester House
      </a>

      <p>
        View, provide or update registration or structure and safety information. Tell us when you update your safety case report, or remove the building from the register.
      </p>

      <a class="govuk-heading-m" href="bac-holding-page-PostSub">
        Building assessment certificate
      </a>

      <p>
        Apply for a building assessment certificate or download your certificates.
      </p>

      <a class="govuk-heading-m" href="#">
        Access to this application
      </a>

      <p>Change who can use this service or add a second user.</p>

    </div>
  </div>

  <!--

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">HRB123456789</span>

      <h1 class="govuk-heading-l">Chester House</h1>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
  
        <a class="govuk-heading-m" href="#">
          Information about Point House
        </a>
  
        <p>
          View, provide or update registration or structure and safety information. Tell us when you update your safety case report, or remove the building from the register.
        </p>
  
      </div>
      <div class="govuk-grid-column-one-third">
  
        <a class="govuk-heading-m" href="#">
          Building assessment certificate
        </a>
  
        <p>
          Apply for a building assessment certificate or download your certificates.
        </p>
  
      </div>
      <div class="govuk-grid-column-one-third">
  
        <a class="govuk-heading-m" href="#">
          Access to this application
        </a>
  
        <p>Change who can use this service or add a second user.</p>
  
      </div>

    </div>

    -->

{% endblock %}
