{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> noreplyBSR@hse.gov.uk
  <br><strong>To:</strong> Charlotte Smith
  <br><strong>Subject:</strong> You must tell us when you have a safety case report
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p>Greenways Limited is the principal accountable person for:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>Chester House (HRB123456789)</li>
    <li>Shepherds Court (HRB987654321)</li>
    <li>Dual Towers (HRB122333344)</li>
    <li>Avon Court (HRB998877665)</li>
</ul>

<h2 class="govuk-heading-m">What you need to do</h2>

<p>Greenways Limited must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>create a safety case for each building - find out what a safety case is at: <a href="#">www.gov.uk/guidance/safety-case</a>.</li>
  <li>write a safety case report for each building - find out what to include in it at: <a href="#">www.gov.uk/guidance/safety-case-report</a>.</li>
</ul>

<p>Greenways Limited must tell the Building Safety Regulator:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>when they have a safety case report for each building</li>
  <li>each time they make material changes to any of the safety case reports - for example, if they identify a new building safety risk, change a maintenance contractor or make a change as a result of a mandatory occurrence report</li>
</ul>

<p>You can tell us this by returning to your application: <a href="#">www.register-high-rise-building.hse.gov.uk/returning-application</a>.</p>

<h2 class="govuk-heading-m">Building assessment certificate</h2>

<p>We will ask you to upload the safety case report when you apply for a building assessment certificate. We will send you an email when you need to apply for this. Find out more at: <a href="#">www.gov.uk/guidance/building-assessment-certificate</a>.</p>

<p>From the Health and Safety Executive</p>

<p>As the Building Saefty Regulator</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It’s an automatic message from an unmonitored account.</p>

</div>
</div>

<div style="background-color:rgb(55, 55, 89); border: 1px; width: 300px; padding: 20px; margin-bottom: 20px; margin-left: -20px;">
  <a style="color: white;" href="email10-advanced-warning-PNC">View next email from noreplyBSR</a>
</div>

{% endblock %}
