{% extends "layouts/main.html" %}

{% block pageTitle %}
Apply for a building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="invoice" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "notices",
          fieldset: {
            legend: {
              text: "Do you consent to receive notices by email?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "multiple",
              text: "Yes - send notices via email",
              hint: {
                text: "We will send them to you and the named contact at Greenways Limited"
              }
            },
            {
              value: "single",
              text: "No - send notices by post",
              hint: {
                text: "We will send them to the address we have for Greenways Limited"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
