{% extends "layouts/main.html" %}

{% block pageTitle %}
  Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">HRB123456789</span>

      <h1 class="govuk-heading-l">Chester House</h1>

      <h2 class="govuk-heading-m">
        Building assessment certificate
      </h2>

      <p>We are assessing your application for a building assessment certificate. If we need any further information to assist with your application, we will contact you.</p>

    <h2 class="govuk-heading-m">
      Registration
    </h2>

      <p>
        We’ve approved the latest changes submitted on 20 January 2024.
      </p>

      <p>
        You can <a href="#">view and update registration or structure and fire safety information</a>.
      </p>

      <p>
        If it is no longer a high-rise residential building, you can <a href="#">ask to remove this building from the register</a>.
      </p>

      <h2 class="govuk-heading-m">
        Safety case report
      </h2>

      <p>
        You must <a href="#">tell us if you change your safety case report</a>.
      </p>

    </div>
  </div>

{% endblock %}
