{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "building-holding-page-assessing",
    text: "Back to building summary"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application for building assessment certificate for [Chester House] submitted",
        html: "Application reference<br><strong>[HRB123456789]</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>If we need more information to assist with your application, we will contact you.</p>

      <p>You can check the status of your application by returning to this service.</p>

      <h2 class="govuk-heading-m">
        [You must pay your invoice within 30 days
      </h2>

      <p>We've sent an invoice for the application fee to [charlotte.smith@greenways.co.uk]. You must pay this within 30 days of submitting your application.]</p>

      <p>We will send an invoice to [charlotte.smith@greenways.co.uk] at the start of every month to charge you for the work undertaken to assess your application. Any charges which may apply are detailed in the <a href="https://consultations.hse.gov.uk/bsr/fees-and-charges-regs/results/consultation-response-fees-and-charges-regulations-august-2023.pdf">Building Safety Regulator charging scheme</a>.</p>

      <h2 class="govuk-heading-m">Safety case report</h2>

      <p>
        You must <a href="update-scr">tell us if you change your safety case report</a> as soon as reasonably practicable.
      </p>

      <p>We may need to review the changes.</p>

      <p><a href="#">Find out more about changing your safety case report</a></p>

    </div>
  </div>

  <div style="background-color:rgb(55, 55, 89); border: 1px; width: 300px; padding: 20px; margin-bottom: 20px; margin-left: -20px;">
    <a style="color: white;" href="email65-submitted">New email from noreplyBSR</a>
  </div>

{% endblock %}
