{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> noreplyBSR@hse.gov.uk
  <br><strong>To:</strong> PAP or PAP named contact
  <br><strong>Cc:</strong> Primary user & secondary user
  <br><strong>Subject:</strong> Direction to apply for a building assessment certificate for [Chester House]
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p>As the principal accountable person for Chester House, you are now being directed to apply for your building assessment certificate by the Building Safety Regulator (BSR). You must apply within 28 days of receiving this.</p>

<p>You must submit your application online at: <a href="start">www.gov.uk/guidance/apply-for-building-assessment-certification</a>.</p>

<p>The application reference for [Chester House] is [HRB123456789].</p>

<p>Find out what must be included in your application at: <a href="#">www.gov.uk/guidance/applying-for-building-assessment-certification</a>.</p>

<h2 class="govuk-heading-m">If you do not apply for a building assessment certificate</h2>

<p>Failure to submit your building assessment certificate application within 28 days of being directed to apply is a criminal offence, under section 79(3) of the Building Safety Act 2022.</p>

<p>BSR may consider taking enforcement action against you. Any enforcement action will be considered in line with our enforcement policy statement: <a href="#">URL</a>.</p>

<h3 class="govuk-heading-s">You will need to pay</h3>

<p>There is an application charge of £288, this can be paid by card or invoice.</p>

<p>The assessment of your application will also incur further ongoing charges, find out more about these charges in the Building Safety Regulator charging scheme at: <a href="#">URL</a>.</p>

<p>If you need to speak to someone about your application, or you are not the principal accountable person for Chester House, contact BSR at: <a href="#">www.contact-building-safety-regulator.service.gov.uk</a>.</p>

<p>From the Health and Safety Executive</p>

<p>As the Building Safety Regulator</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It’s an automatic message from an unmonitored account.</p>

</div>
</div>

{% endblock %}
