{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Housing, local and community",
        href: "#"
      },
      {
        text: "Planning and building",
        href: "#"
      },
      {
        text: "Building regulation",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply for a building assessment certificate
      </h1>

      <p>As the principal accountable person for a registered higher-risk building (HRB), you can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for a building assessment certificate</li>
        <li>tell the Building Safety Regulator when you have changed a safety case report</li>
      </ul>

      <p>BSR will direct you when you need to apply for a building assessment certificate. You can only apply once BSR directs you to.</p>

      <p>As the principal accountable person, you must ensure your application is submitted within 28 days of being directed to apply by BSR.</p>

      <h2 class="govuk-heading-m">What you will need</h2>

      <p>You will need to confirm the information BSR holds is up to date.</p>

      <p>You will need to make a statement confirming you are providing relevant people with information.</p>

      <p>You will need to upload:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>safety case report</li>
        <li>information about your mandatory occurrence reporting system </li>
        <li>resident engagement strategy</li>
      </ul>

      <p>You will also need to provide details so we can send you invoices as the BSR will charge you for the work undertaken to assess your application.</p>

      <p>Once you have submitted your application, you will need to pay the application charge of £288. You can pay this by card or invoice.</p>

      <p>Find out more about the <a href="#">Building Safety Regulator charging scheme</a>.</p>

      {{ govukButton({
        text: "Start now",
        href: "access-an-application-test",
        isStartButton: true
      }) }}

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Failure to submit your building assessment certificate application within 28 days of being directed to apply is a criminal offence, under section 79(3) of the Building Safety Act 2022. BSR may consider taking enforcement action against you. Any enforcement action will be considered in line with our <a href="#">enforcement policy statement</a>.
        </strong>
      </div>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        If you need help using this service <a href="https://www.gov.uk/guidance/contact-the-building-safety-regulator">contact us</a>.
      </p>

      <h2 class="govuk-heading-m">After you have submitted</h2>

      <p>Once you have submitted your building assessment certificate application you will receive email acknowledgement. If we find we need any further information to assist with your application, we will contact you.</p>

      <p>You can check the status of your application using this service.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Applying for a building assessment certificate
              </a>
            </li>
            <li>
              <a href="#">
                Safety case reports
              </a>
            </li>
            <li>
              <a href="#">
                Mandatory occrruence reporting
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Related guidance</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
