{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> BSR-InOccupation@hse.gov.uk
  <br><strong>To:</strong> PAP or PAP named contact
  <br><strong>Cc:</strong> Primary user & secondary user
  <br><strong>Subject:</strong> Agreed submission date for additional information  
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p>Dear [PAP individual name/PAP org name],</p>

<p>On the [10 March 2024] I spoke with you regarding the additional information that is needed in order for the BSR to assess your BAC Application. At this time, it was agreed that you would submit this information by [20 April 2024]. To confirm the information to be submitted is:
</p>

<p>[detail to be added manually]</p>

<p>Submit the additional information online at: [<a href="more-information">www.register-high-rise-building.service-submit-information-6789.gov.uk</a>].</p>

<p>Failure to submit this additional information may result in BSR being unable to adequately assess your application. If this happens BSR may consider refusing your building assessment certificate.</p>

<p>If you cannot provide this information, reply to this email.</p>

<p>From the Health and Safety Executive</p>

<p>As the Building Safety Regulator</p>

</div>
</div>

{% endblock %}
