{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Building assessment certificate for Chester House</h1>

      <h2 class="govuk-heading-m">
        What's next
      </h2>

      <p>
        You must <a href="single-or-multiple-files">apply for a building assessment certificate</a> before 29 October 2024.
      </p>

      <p>It is the duty of the named contact at the principle accountable person to ensure this application is submitted in time. If we do not recieve an application in time, they will be served an enforcement notice.</p>

      <p><a href="building-holding-page">Return to point house</a></p>

    </div>
  </div>

{% endblock %}
