{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div style="background-color:rgb(55, 55, 89); border: 1px; width: 300px; padding: 20px; margin-bottom: 20px; margin-left: -20px;">
  <a style="color: white;" href="email60-submitted-USER">New email from noreplyBSR</a>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application for building assessment certificate for Chester House submitted",
        html: "Application reference<br><strong>HRB123456789</strong>"
      }) }}

      <p>
        We have sent you a confirmation email. We have also sent a confirmation email to the named contact at Greenways Limited.
      </p>

      <p>You can <a href="check-answers-PostSub">make changes to your application</a> up until 10 November 2023</p>

      <h2 class="govuk-heading-m">
        What's next
      </h2>

      <p>
        We've sent an invoice for the application fee to charlotte.smith@greenways.co.uk. You must pay this within 30 days.
      </p>

      <p>We will send you an invoice at the start of every month to charge you for the work undertaken to review your application. You can <a href="https://consultations.hse.gov.uk/bsr/fees-and-charges-regs/results/consultation-response-fees-and-charges-regulations-august-2023.pdf">learn more about the BSR charging scheme</a>.</p>

      <p>Your application will be assigned to a case officer, who will contact you about your application soon. They might ask you for more information.</p>

      <p><a href="building-holding-page">Return to Chester House</a></p>

    </div>
  </div>

{% endblock %}
