{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> noreplyBSR@hse.gov.uk
  <br><strong>To:</strong> Charlotte Smith
  <br><strong>Subject:</strong> Apply for a building assessment certificate for Chester House
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>You are the named contact for the principle accountable person organisation for Chester House.</p>

<p>You must now apply for a building assessment certificate for Chester House. You must do this within 28 days of us sending you this email.</p>

<p>It is your duty to ensure this application is submitted in time. If we do not receive an application in time you will be served an enforcement notice.</p>

<p>Find out what you must include in your application at <a href="#">www.gov.uk/guidance/building-assessment-certification</a>.</p>

<h2 class="govuk-heading-m">If you have access to the application for this building</h2>

<p>You must submit your application at <a href="start">www.register-a-high-rise-building.service.gov.uk</a>.</p>

<p>Your application reference is HRB123456789.</p>

<h2 class="govuk-heading-m">If you don't have access to the application for this building</h2>

<p>You must instruct the person that does have access to do one of the following:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>submit it for you</li>
    <li>make you a user and submit it yourself</li>
    <li>make someone else a user, and instruct this person to submit it for you</li>
</ul>

<p>From the Health and Safety Executive</p>

<p>As the Building Saefty Regulator</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It’s an automatic message from an unmonitored account.</p>

</div>
</div>

{% endblock %}
