{% extends "layouts/main.html" %}

{% block pageTitle %}
Building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Building assessment certificate for Chester House</h1>

      <h2 class="govuk-heading-m">
        Continue your application
      </h2>

      <p>
        You must <a href="declare-89">apply for a building assessment certificate</a> within 28 days.
      </p>

      <h2 class="govuk-heading-m">
        Applying for an extension
      </h2>

      <p>If you will not be able to submit an application by the deadline, you can <a href="extension-reason">apply for a 28 day extension</a>. You can only do this if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>there is an active tribunal process ongoing to determine who the principal accountable person is</li>
        <li>extenuating circumstances, such as critical illness or a data breach, are preventing you from being able to complete the application</li>
      </ul>

      <div style="background-color:rgb(55, 55, 89); border: 1px; width: 300px; padding: 20px; margin-bottom: 20px; margin-left: -20px;">
        <a style="color: white;" href="email55-started-USER">New email from noreplyBSR</a>
      </div>

    </div>
  </div>

{% endblock %}
