{% extends "layouts/main.html" %}

{% block pageTitle %}
Building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Building assessment certificate for Chester House</h1>

      <p>
        You must <a href="confirm-building">apply for a building assessment certificate</a> by 28 April 2024.
      </p>

    </div>
  </div>

{% endblock %}
