{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Building assessment certificate for Chester House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l" style="text-align: center; margin-top: 10%;">
    Building assessment certificate for Point House
  </h1>

  <p style="text-align: center;">This is to certify that:</p>

  <p class="govuk-body-l" style="text-align: center;">Greenways Limited</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p style="text-align: center;">Has satisfied the requirements of building assessment certification for:</p>

  <p class="govuk-heading-m" style="text-align: center;">Chester House</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p style="text-align: center;">
    Issued by Michael O'Neil on 15 June 2024
  </p>

  <div style="display: flex; width: 100%; flex-direction: row; justify-content: center;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b6/Health_and_Safety_Executive_logo.svg/1200px-Health_and_Safety_Executive_logo.svg.png" style="height: 200px; align-self: center;">
  </div>

  

{% endblock %}
