{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Documents
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Upload safety case report"
            },
            value: {
              text: "chester-house_safety-case-report(2).pdf"
            },
            actions: {
              items: [
                {
                  href: "upload-separate",
                  text: "Change",
                  visuallyHiddenText: "Upload safety case report"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Upload resident engagement strategy"
            },
            value: {
              text: "RES_chester-house.docx"
            },
            actions: {
              items: [
                {
                  href: "upload-separate",
                  text: "Change",
                  visuallyHiddenText: "Upload resident engagement strategy"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Upload mandatory occurrence reporting plan"
            },
            value: {
              text: "Mandatory-occurence-reporting-plan(Greenways ltd).docx"
            },
            actions: {
              items: [
                {
                  href: "upload-separate",
                  text: "Change",
                  visuallyHiddenText: "Upload mandatory occurrence reporting plan"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Have you submitted any of these documents in another application?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "already-provided-all",
                  text: "Change",
                  visuallyHiddenText: "Have you submitted it in another application?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Which application(s) did you include it in and are there any differences?"
            },
            value: {
              text: "Its the same for all of our buildings."
            },
            actions: {
              items: [
                {
                  href: "already-provided-all-explanation",
                  text: "Change",
                  visuallyHiddenText: "Which application(s) did you include it in and are there any differences?"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Notices</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to recived notices by email?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "receive-notices",
                  text: "Change",
                  visuallyHiddenText: "Upload safety case report"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Invoices</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name on the invoice"
            },
            value: {
              text: "Charlotte Smith"
            },
            actions: {
              items: [
                {
                  href: "invoice",
                  text: "Change",
                  visuallyHiddenText: "Name on the invoice"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "charlotte.smith@greenways.co.uk"
            },
            actions: {
              items: [
                {
                  href: "invoice",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Billing address"
            },
            value: {
              text: "111 Arndale Avenue, Manchester, M2 7BA"
            },
            actions: {
              items: [
                {
                  href: "invoice",
                  text: "Change",
                  visuallyHiddenText: "Billing address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Do you need a purchase order number?"
            },
            value: {
              text: "Yes - I have a purchase order number"
            },
            actions: {
              items: [
                {
                  href: "invoice",
                  text: "Change",
                  visuallyHiddenText: "Do you need a purchase order number?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Purchase order number"
            },
            value: {
              text: "PO1245821"
            },
            actions: {
              items: [
                {
                  href: "invoice",
                  text: "Change",
                  visuallyHiddenText: "Purchase order number"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="declare" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
