{% extends "layouts/main.html" %}

{% block pageTitle %}
  Declaration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Upload a declaration that all of the accountable persons are keeping all of the relevant people up to date
      </h1>

      <p>Upload a document signed by each of the accountable persons stating:</p>

      <div class="govuk-inset-text">
        <p>
          We declare that under section 89 of the Building Safety Act we have:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>given all of the prescribed information to all of the relevant people</li>
          <li>provisions in place to keep all of the relevant people up to date</li>
        </ul>
      </div>

      <form class="form" action="single-or-multiple-files" method="post">

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "fileUpload1",
          label: {
            text: "Upload a declaration"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="#">Find out what information you must provide to who (opens in new tab)</a></p>

    </div>
  </div>

{% endblock %}
