{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Versions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">23/10/23</th>
          <td class="govuk-table__cell"><a href="/v1/start">UT round 3</a></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">03/11/23</th>
          <td class="govuk-table__cell"><a href="/v1-5/start">UR accessibility testing</a></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">08/11/23</th>
          <td class="govuk-table__cell"><a href="/v2/email05-tell-bsr-when-you-have-scr">UT round 4</a></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">17/11/23</th>
          <td class="govuk-table__cell"><a href="/v3/email05-tell-bsr-when-you-have-scr">Post UT round 4</a></td>
          <td class="govuk-table__cell">Decision - part of HRB</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">07/12/23</th>
          <td class="govuk-table__cell"><a href="/v4/email05-tell-bsr-when-you-have-scr">Post post UT round 4</a></td>
          <td class="govuk-table__cell">Addition of legal content</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
